{% extends "base.html.twig" %}
{% block title %}{% trans %} About Us {% endtrans %} | STG Mining Supplies{% endblock %}
{% block content %}
<section class="top-space-margin page-title-big-typography cover-background pt-0 pb-0" style="background-image: url(/images/mining_slider_0001.jpg); margin-top: 135px;">
<div class="container">
<div class="row align-items-center justify-content-center small-screen">
<div class="col-xl-5 col-sm-8 page-title-double-large text-center appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [30, 0], &quot;duration&quot;: 600, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<h1 class="text-base-color fw-700 mb-5px" style="">{% trans %}About us{% endtrans %}</h1>
<h2 class="text-white fw-600 ls-1px mb-0 text-uppercase" style="">{% trans %}Let's see who we are{% endtrans %}</h2>
</div>
</div>
</div>
</section>


<section class="pb-70px">
<div class="container">
<div class="row align-items-center align-items-xl-end justify-content-center mb-70px sm-mb-35px">
<div class="col-lg-6 col-md-10 md-mb-20px text-lg-start text-center appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<span class="fs-16 lh-22 fw-700 mb-15px d-inline-block text-uppercase text-dark-gray border-bottom border-2 border-color-base-color" style="">{% trans %}25+ years of experience.{% endtrans %}</span>
<h2 class="text-dark-gray fw-700 mb-0 ls-minus-1px" style="">{% trans %}World best mining laboratories solutions.{% endtrans %}</h2>
</div>
<div class="col-xl-5 col-lg-6 col-md-10 offset-xl-1 text-lg-start text-center last-paragraph-no-margin">
<!--1p data-anime="{ &quot;el&quot;: &quot;lines&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot;}" class="appear words lines splitting anime-child anime-complete" style="--word-total: 25; --line-total: 3;"><span class="d-inline" style="will-change: inherit;">We pride ourselves on building strong partnerships in the mining</span> <span class="d-inline" style="will-change: inherit;">laboratory sector that lead to lasting relationships with our</span> <span class="d-inline" style="will-change: inherit;">clients. We do this by providing tailor-made</span><span class="d-inline" style="will-change: inherit;"> services to our globally based clients.</span></p>-->
</div>
</div>
<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center mb-70px sm-mb-35px appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [-30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

<div class="col icon-with-text-style-07 transition-inner-all md-mb-30px" style="">
<div class="bg-very-light-gray h-100 justify-content-end feature-box flex-column-reverse p-15 xl-p-13 border-radius-8px">
<div class="feature-box-icon">
<img src="/images/diagrama.png" style="width:92px" alt="" data-no-retina="">
</div>
<div class="feature-box-content">
<span class="d-inline-block fw-600 text-dark-gray mb-5px fs-20">{% trans %}Our Business{% endtrans %}</span>
<p class="mb-30px" style = "text-align: justify;">{% trans %}We pride ourselves on building strong partnerships in the mining laboratory sector that lead to lasting relationships with our clients. We do this by providing tailor-made services to our globally based clients.{% endtrans %}</p>
</div>
</div>
</div>


<div class="col icon-with-text-style-07 transition-inner-all md-mb-30px" style="">
<div class="bg-very-light-gray h-100 justify-content-end feature-box flex-column-reverse p-15 xl-p-13 border-radius-8px">
<div class="feature-box-icon">
<img src="/images/mision.png" style="width:92px" alt="" data-no-retina="">
</div>
<div class="feature-box-content">
<span class="d-inline-block fw-600 text-dark-gray mb-5px fs-20">{% trans %}Our Mission{% endtrans %}</span>
<p class="mb-30px" style = "text-align: justify;">{% trans %}As a small business with a global presence, our customers are what really matter.
To provide honest and reliable service combined with best in class products to meet our clients specific needs.{% endtrans %}</p>
</div>
<!--<span class="position-absolute box-shadow-large top-20px right-20px bg-white border-radius-18px text-dark-gray fs-11 fw-700 text-uppercase ps-15px pe-15px lh-26">New</span>-->
</div>
</div>


<div class="col icon-with-text-style-07 transition-inner-all" style="">
<div class="bg-very-light-gray h-100 justify-content-end feature-box flex-column-reverse p-15 xl-p-13 border-radius-8px">
<div class="feature-box-icon">
<img src="/images/orientacion.png" style="width:92px" alt="" data-no-retina="">
</div>
<div class="feature-box-content">
<span class="d-inline-block fw-600 text-dark-gray mb-5px fs-20">{% trans %}Our Vision{% endtrans %}</span>
<p class="mb-30px" style = "text-align: justify;">{% trans %}Achieve a relationship with our clients as partners that will bring added value to them and our shareholders.{% endtrans %}<br><br><br><br></p>
</div>
</div>
</div>

</div>
<div class="row">
<div class="col d-flex justify-content-center align-items-center">
<i class="bi bi-patch-check-fill text-base-color icon-very-medium me-10px"></i>
<span class="fs-22 fw-500 text-dark-gray">{% trans %}We are committed to providing {% endtrans %}<span class="text-decoration-line-bottom text-dark-gray fw-700">{% trans %}cost-effective solutions{% endtrans %}</span> {% trans %}to all of our clients.{% endtrans %}</span>
</div>
</div>
</div>
</section>


<section class="pt-0 pb-0 ps-8 pe-8 lg-ps-3 lg-pe-3 position-relative xs-px-0">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<img src="/images/mining-about-img-01.jpg" class="w-100 border-radius-8px" alt="" data-no-retina="">
<div class="absolute-middle-right top-0px right-12 border-radius-100 xl-h-180px xl-w-180px sm-w-110px sm-h-110px">
<img src="/files/mining-about-02.webp" class="position-absolute top-50 translate-middle-y" alt="" data-no-retina="">
<img src="/files/mining-about-01.webp" class="animation-rotation" alt="" data-no-retina="">
</div>
</div>
</div>
</div>
</section>


<section class="bg-gradient-gray-light-dark-transparent">
<div class="container">
<div class="row justify-content-center mb-5 xs-mb-35px">
<div class="col-xl-8 text-center" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 500, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<span class="fs-16 lh-22 fw-700 mb-15px d-inline-block text-uppercase text-dark-gray border-bottom border-2 border-color-base-color">{% trans %}Why Choose Us{% endtrans %}</span>
<h2 class="ls-minus-1px text-dark-gray fw-700 mb-0">{% trans %}Fields of expertise{% endtrans %}</h2>
</div>
</div>
<div class="row row-cols-1 row-cols-xl-4 row-cols-sm-2 mb-5" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;perspective&quot;: [1200,1200], &quot;scale&quot;: [1.1, 1], &quot;rotateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 500, &quot;delay&quot;: 300, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

<div class="col icon-with-text-style-04 transition-inner-all lg-mb-30px">
<div class="feature-box bg-white text-center border-radius-8px p-15 box-shadow-extra-large box-shadow-extra-large-hover">
<div class="feature-box-icon mb-20px">
<img src="/images/fuego-01.png" style="width:67px" alt="" data-no-retina="">
</div>
<div class="feature-box-content last-paragraph-no-margin">
<span class="fs-20 fw-600 d-inline-block text-dark-gray mb-5px">{% trans %}Fire Assay{% endtrans %}</span>
<p class="mx-auto lg-w-80 md-w-100">{% trans %}Full range of fire assay furnaces, multi-load/ multi-pour systems with related consumables.{% endtrans %}<br><br><br><br></p>
</div>
</div>
</div>


<div class="col icon-with-text-style-04 transition-inner-all lg-mb-30px">
<div class="feature-box bg-white text-center border-radius-8px p-15 box-shadow-extra-large box-shadow-extra-large-hover">
<div class="feature-box-icon mb-20px">
<img src="/images/design-01.png" style="width:67px" alt="" data-no-retina="">
</div>
<div class="feature-box-content last-paragraph-no-margin">
<span class="fs-20 fw-600 d-inline-block text-dark-gray mb-5px">{% trans %}Laboratory Design{% endtrans %}</span>
<p class="mx-auto lg-w-80 md-w-100">{% trans %}By knowing your requirements, we can assist you in choosing the right equipment and provide Specific solutions that fit your needs.{% endtrans %}</p>
</div>
</div>
</div>


<div class="col icon-with-text-style-04 transition-inner-all xs-mb-30px">
<div class="feature-box bg-white text-center border-radius-8px p-15 box-shadow-extra-large box-shadow-extra-large-hover">
<div class="feature-box-icon mb-20px">
<img src="/images/tubo-01.png" style="width:67px" alt="" data-no-retina="">
</div>
<div class="feature-box-content last-paragraph-no-margin">
<span class="fs-20 fw-600 d-inline-block text-dark-gray mb-5px">{% trans %}Sample Preparation{% endtrans %}</span>
<p class="mx-auto lg-w-80 md-w-100">{% trans %}Standard and automated sample preparation equipment.{% endtrans %}<br><br><br><br><br></p>
</div>
</div>
</div>


<div class="col icon-with-text-style-04 transition-inner-all">
<div class="feature-box bg-white text-center border-radius-8px p-15 box-shadow-extra-large box-shadow-extra-large-hover">
<div class="feature-box-icon mb-20px">
<img src="/images/jar-01.png" style="width:67px" alt="" data-no-retina="">
</div>
<div class="feature-box-content last-paragraph-no-margin">
<span class="fs-20 fw-600 d-inline-block text-dark-gray mb-5px">{% trans %}Reference Materials{% endtrans %}</span>
<p class="mx-auto lg-w-80 md-w-100">{% trans %}Complete array of reference material suitable for your exploration, drilling programs and laboratory control.{% endtrans %}<br><br></p>
</div>
</div>
</div>

</div>
<div class="row justify-content-center align-items-center md-m-0 overflow-hidden">
<div class="col-lg-1 p-0">
<div class="divider-style-03 divider-style-03-03 border-color-base-color w-70 md-w-100 float-end md-mb-15px"></div>
</div>
<div class="col-xxl-8 col-xl-9 col-lg-10 position-relative text-center">
<h6 class="alt-font text-dark-gray fw-500 mb-5px fancy-text-style-4">{% trans %}Committed to providing solutions for{% endtrans %} <span class="fw-700" data-fancy-text="{ &quot;effect&quot;: &quot;rotate&quot;, &quot;string&quot;: [&quot;Machinery and refurbishment&quot;, &quot;Consumables&quot;, &quot;Reference materials&quot;, &quot;Maintenance and repair&quot;] }"></span></h6>
</div>
<div class="col-lg-1 p-0">
<div class="divider-style-03 divider-style-03-03 border-color-base-color w-70 md-w-100 md-mt-15px"></div>
</div>
</div>
</div>
</section>


<!--<section class="position-relative overflow-hidden overlap-height pb-0">
<img src="././files/demo-logistics-about-04.webp" class="position-absolute left-150px top-50px z-index-minus-1 skrollable skrollable-before" alt="" data-bottom-top="transform: translate3d(80px, 0px, 0px);" data-top-bottom="transform: translate3d(-380px, 0px, 0px);" style="transform: translate3d(80px, 0px, 0px);" data-no-retina="">
<img src="././files/demo-logistics-about-03.png" class="position-absolute right-100px top-50px z-index-minus-1 skrollable skrollable-before" alt="" data-bottom-top="transform:scale(1.4, 1.4) translate3d(0px, 0px, 0px);" data-top-bottom="transform:scale(1, 1) translate3d(-300px, 0px, 0px);" style="transform: scale(1.4, 1.4) translate3d(0px, 0px, 0px);" data-no-retina="">
<div class="container overlap-gap-section">
<div class="row align-items-center justify-content-lg-start justify-content-center text-lg-start text-center">
<div class="col-lg-6 col-md-10 md-mb-50px">
<figure class="position-relative m-0 md-w-95 xs-w-90">
<img src="././files/demo-logistics-about-img-02.jpg" class="w-90 border-radius-8px" alt="" data-no-retina="">
<figcaption class="position-absolute bg-dark-gray border-radius-10px box-shadow-quadruple-large bottom-100px xs-bottom-minus-10px right-minus-30px w-240px xs-w-200px text-center last-paragraph-no-margin animation-float">
<div class="bg-white pt-35px pb-35px xs-p-20px border-radius-8px mb-10px">
<h2 class="fw-700 ls-minus-2px text-dark-gray mb-0">4.9</h2>
<div class="text-golden-yellow fs-18 ls-2px mb-5px">
<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
</div>
<span class="text-dark-gray d-block fw-600 ls-minus-05px">3488 Reviews</span>
<div class="d-inline-block fs-11 text-uppercase bg-jungle-green ps-20px pe-20px lh-30 fw-600 text-white border-radius-100px box-shadow-large">Excellent score</div>
</div>
<img src="././files/demo-real-estate-trustpilot.svg" class="h-30px mb-15px" alt="" data-no-retina="">
</figcaption>
</figure>
</div>
<div class="col-lg-5 col-md-10 offset-lg-1" data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<span class="fs-16 lh-22 fw-700 mb-15px d-inline-block text-uppercase text-dark-gray border-bottom border-2 border-color-base-color">A few good reasons</span>
<h2 class="fw-700 text-dark-gray ls-minus-1px">Here is what our clients have to say.</h2>
<div class="swiper position-relative swiper-fade swiper-initialized swiper-horizontal swiper-autoheight swiper-watch-progress swiper-backface-hidden" data-slider-options="{ &quot;autoHeight&quot;: true, &quot;loop&quot;: true, &quot;allowTouchMove&quot;: true, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.swiper-button-next&quot;, &quot;prevEl&quot;: &quot;.swiper-button-prev&quot; }, &quot;effect&quot;: &quot;fade&quot; }">
<div class="swiper-wrapper mb-40px" style="height: 245px; transition-duration: 0ms; transition-delay: 0ms;" id="swiper-wrapper-fd75dc4ebc340cff" aria-live="off">
<div class="swiper-slide review-style-08 swiper-slide-next" style="width: 478px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="2 / 3" data-swiper-slide-index="1">
<p class="w-80 lg-w-100">I've purchased several themes over the years and this theme, by far is absolutely amazing. It's built extremely well the back end was well thought out the design options are endless.</p>
<div class="mt-20px">
<img class="w-110px me-15px" src="././files/demo-corporate-testimonials-02.png" alt="" data-no-retina="">
<div class="d-inline-block align-middle text-start">
<div class="text-dark-gray fw-600 fs-20">Shoko mugikura</div>
<div class="review-star-icon fs-18">
<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
</div>
</div>
</div>
</div><div class="swiper-slide review-style-08 swiper-slide-prev" role="group" aria-label="3 / 3" style="width: 478px; opacity: 1; transform: translate3d(-478px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="2">
<p class="w-80 lg-w-100">The theme is very valid and offers many possibilities of customization to adapt it to your needs, but the thing I got the most out of it was the relationship with the support team.</p>
<div class="mt-20px">
<img class="w-110px me-15px" src="././files/demo-corporate-testimonials-03.webp" alt="" data-no-retina="">
<div class="d-inline-block align-middle text-start">
<div class="text-dark-gray fw-600 fs-20">Leonel mooney</div>
<div class="review-star-icon fs-18">
<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
</div>
</div>
</div>
</div><div class="swiper-slide review-style-08 swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" style="width: 478px; opacity: 1; transform: translate3d(-956px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="1 / 3" data-swiper-slide-index="0">
<p class="w-80 lg-w-100">Love the theme, really neat and super easy to use. But the customer support is what makes this an even greater theme! ThemeZaa solved all the problems. I had with my custom settings.</p>
<div class="mt-20px">
<img class="w-110px me-15px" src="././files/demo-corporate-testimonials-01.webp" alt="" data-no-retina="">
<div class="d-inline-block align-middle text-start">
<div class="text-dark-gray fw-600 fs-20">Alexander harvard</div>
<div class="review-star-icon fs-18">
<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
</div>
</div>
</div>
</div></div>
<div class="d-flex justify-content-lg-start justify-content-center">

<div class="slider-one-slide-prev-1 swiper-button-prev slider-navigation-style-04 border border-color-extra-medium-gray" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-fd75dc4ebc340cff"><i class="fa-solid fa-arrow-left text-dark-gray icon-small"></i></div>
<div class="slider-one-slide-next-1 swiper-button-next slider-navigation-style-04 border border-color-extra-medium-gray" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-fd75dc4ebc340cff"><i class="fa-solid fa-arrow-right text-dark-gray icon-small"></i></div>

</div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
</div>
</div>
</section>-->


<section>
<div class="container">
<div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 clients-style-04 justify-content-center" data-anime="{&quot;opacity&quot;: [0,1], &quot;duration&quot;: 400, &quot;delay&quot;: 300, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

<div class="col text-center transition-inner-all lg-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/CDN.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all lg-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/coldblock.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all lg-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/furnace.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all sm-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/psi.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all">
<div class="client-box">
<a href="#"><img src="/images/partners/rocklabs.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>

</div>
</div>
</section>
{% endblock %}