{% extends "base.html.twig" %}
{% block title %}{% trans %} Partners {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Socios Comerciales{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">{% trans %}Inicio{% endtrans %}</a></li>
									<li class="active">{% trans %}Socios Comerciales{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Avantu Water{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Empresa Canadiense Con Soluciones Biol&oacute;gicas{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Avantu se formó en 2020 en Canadá para llevar la magia de las bacterias biológicas aprobadas y seleccionadas científicamente al mercado mundial.{% endtrans %}</p>
								<p class="mb-o">{% trans %}Sus raíces están en África, donde su cofundador, Lohmann Beams, descubrió el poder de las bacterias beneficiosas.{% endtrans %}</p>
								<a href="https://www.avantuwater.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISITAR P&Aacute;GINA{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="img/avantu.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				
				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/CDN.png" width="250px" class="img-fluid  appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" /></center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}CDN Resource Laboratories{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Empresa Canadiense Dedicada a Materiales de Referencia Certificados.{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Es uno de los principales proveedores de materiales de referenia de calidad, listos para usar en la industria minera.{% endtrans %}</p>
								<p class="mb-0">{% trans %}Ofrece a sus clientes una amplia selecci&oacute;n de materiales de referencia de ensayo, as&iacute; como la preparaci&oacute;n de est&aacute;ndares personalizados a pedido.{% endtrans %}</p>
								<a href="http://cdnlabs.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISITAR P&Aacute;GINA{% endtrans %} 
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}ColdBlock Technologies Inc.{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Sistemas de Digesti&oacute;n Autom&aacute;ticos de Fabricaci&oacute;n Canadiense.{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Ofrece tecnolog&iacute;a de digesti&oacute;n de muestras para preparar muestras para an&aacute;lisis m&aacute;s r&aacute;pido, con mayor precisi&oacute;n y seguridad mejorada.{% endtrans %}</p>
								<p class="mb-o">{% trans %}La tecnolog&iacute;a probada de ColdBlock est&aacute; disponible en m&uacute;ltiples plataformas que se pueden incorporar en pr&aacute;cticamente 
									cualquier entorno de laboratorio de qu&iacute;mica h&uacute;meda est&aacute;ndar.{% endtrans %}</p>
								<a href="https://coldblock.ca/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISITAR P&Aacute;GINA{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://coldblock.ca/wp-content/uploads/2019/10/logo.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<img src="img/Furnace-logo.png" class="img-fluid  appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Furnace and Assay{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Empresa Australiana Productora de Hornos de Secado, Fusi&oacute;n y Copelaci&oacute;n{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Se estableci&oacute; en 2007 con el objetivo de crear una empresa de fabricaci&oacute;n de equipos de ensayo de fuego con un enfoque incomparable en la calidad y el servicio al cliente{% endtrans %}</p>
								<p class="mb-0">{% trans %}Furnace and Assay lidera la industria con sus servicios técnicos y de mantenimiento.{% endtrans %}</p>
								<a href="https://fandasupplies.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISITAR P&Aacute;GINA{% endtrans %} 
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Morgan Advanced Materials{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Hornos de Secado, Fusi&oacute;n y Copelaci&oacute;n de Fabricaci&oacute;n Australiana.{% endtrans %}</h3>
								<p class="mb-0">{% trans %}En 1856, los hermanos Morgan fundaron la Patent Plumbago Crucible Company, 
									que fabricaba crisoles en una pequeña fábrica en Battersea, Londres.{% endtrans %}</p> 
								<p class ="mb-o">{% trans %}El éxito de la empresa se debió al uso de grafito (plumbago) en la mezcla de arcilla para producir un crisol 
									que fundía el metal más rápido y duraba más que cualquier otra cosa disponible en Europa en ese momento.{% endtrans %}</p>
								<a href="https://www.morganadvancedmaterials.com/en-gb/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISITAR P&Aacute;GINA{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://www.morganadvancedmaterials.com/static/images/mgam-logo.svg" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<img src="img/psi-logo.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-4">{% trans %}Prolite Systems Inc{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Equipamiento de Laboratorio{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Es un fabricados internacional canadiense y distribuidor de todo tipo de sistemas de tuber&iacute;s termopl&aacute;sticas (HDPE, PP, PVC, CPVC ECT.) 
									para proyectos industriales y municipales.{% endtrans %}</p> 
									<p class ="mb-o">{% trans %}PPSI tambi&eacute;n tiene servicios de uni&oacute;n de campo para todos nuestros productos.{% endtrans %}</p>
								<a href="https://www.prolitepiping.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISITAR P&Aacute;GINA{% endtrans %} 
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-4">{% trans %}Rocklabs{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Productos Dise&ntilde;ados y Fabricados en Nueva Zelanda{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Rocklabs es una marca reconocida, bajo el sello de Scott Technologies; ofrecen soluciones rob&oacute;ticas y de automatizaci&oacute;n inteligente.
										Se estableci&oacute; en 1969 como un laboratorio comercial, especializado en an&aacute;lisis geoqu&iacute;mico y ensayos de fuego.{% endtrans %}</p>
								<p class="mb-0">{% trans %}Desde entonces, Rocklabs ha sido un innovador global en el campo de los equipos ded preparaci&oacute;n de muestras, una amplia variedad
												de equipos para la extracci&oacute;n de oro, plata, platino, hierro y paladio.{% endtrans %}</p>
								<a href="https://scottautomation.com/en/rocklabs" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISITAR P&Aacute;GINA{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://scottautomation.com/assets/Brands/Rocklabs/rocklabs-logo_2021-07-12-034328_pirr.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>
                <br><br>

			</div>
{% endblock %}