{% extends "base.html.twig" %}
{% block title %}{% trans %} About Us {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">Conocenos</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">Inicio</a></li>
									<li class="active">Conocenos</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-3">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/location.png" class="img-fluid appear-animation" width="200" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="">
								</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Nuestra Empresa</h3>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">La satisfacción del cliente es el núcleo de la 
									filosofía de STG Mining y nuestro experimentado personal internacional se esfuerza por hacer su vida un poco más fácil 
									simplificando las necesidades de su laboratorio.</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-3">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Nuestra Misi&oacute;n</h3>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">Como una pequeña empresa con presencia global, nuestros clientes son lo que realmente importa. </p>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">Nos esforzamos por brindar continuamente un servicio honesto y confiable, combinado con los mejores productos para satisfacer las necesidades 
									específicas de nuestros clientes. Estamos aquí para usted y valoramos su colaboración y asociación. Su éxito, es nuestro éxito.</p>
							</div>
							<div class="col-lg-5 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="img/demos/digital-agency/icons/lamp.svg" class="img-fluid appear-animation" width="200" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/eye.png" class="img-fluid appear-animation" width="200" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="">
								</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Nuestra Visi&oacute;n</h3>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">Nuestra visi&oacute;n, es convertirnos en un proveedor de confianza de equipos de miner&iacute;a de laboratorios en toda Am&eacute;rica</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 z-index-2 pb-0 m-0">
					<div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspecRatio="xMinYMin">
							<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135/11,135"/>
						</svg>
					</div>
					<div class="container pt-3 mt-5">
						<div class="row justify-content-center mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden">
									<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Conocenos Un Poco M&aacute;s</h2>
								</div>
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Descarga Nuestro Folleto</h3>
								</div>
							</div>
						</div>
						<div><center>
							<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
								<div class="stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark" data-plugin-options="{'responsive' : {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': true, 'margin': 20, 'stagePadding': 75}">
									<div>
										<a class="text-decoration-none">
											<div class="thumb-info2 custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon">
													<img src="img/dorado.png" class="img-fluid"/>
												</div>
											</div>
										</a>
										<h4 class="text-center mb-0"><a href="pdf/STG Mining Pamphlet +Mexico.pdf" download="Panfleto" class="text-color-dark text-color-hover-primary text-decoration-none text-2">Descargalo Aqu&iacute;</a></h4>
									</div>
								</div>
							</div>
						</center>
						</div>
					</div>
				</section>


			</div> 
{% endblock %}