{% extends "base.html.twig" %}
{% block title %}{% trans %} About Us {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}About Us{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">{% trans %}Home{% endtrans %}</a></li>
									<li class="active">{% trans %}About Us{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-3">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/location.png" class="img-fluid appear-animation" width="200" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="">
								</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Our Business{% endtrans %}</h3>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">{% trans %}We pride ourselves on building strong partnerships in the mining 
								sector that lead to lasting relationships with our clients. We do this by providing tailor made services to our 
								globally based clients.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-3">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Our Mission{% endtrans %}</h3>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">{% trans %}As a small business with a global presence, our customers are what really matter.{% endtrans %} </p>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">{% trans %}To provide honest and reliable service combined with best-in-class products to meet our clients’ 
								specific needs. We are here for you.{% endtrans %}</p>
							</div>
							<div class="col-lg-5 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="img/demos/digital-agency/icons/lamp.svg" class="img-fluid appear-animation" width="200" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/eye.png" class="img-fluid appear-animation" width="200" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="">
								</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Our Vision{% endtrans %}</h3>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">{% trans %}Achieve a relationship with our clients as partners that will bring added value to them and our shareholders.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 z-index-2 pb-0 m-0">
					<div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspecRatio="xMinYMin">
							<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135/11,135"/>
						</svg>
					</div>
					<div class="container pt-3 mt-5">
						<div class="row justify-content-center mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden">
									<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">{% trans %}Know Us A Little More{% endtrans %}</h2>
								</div>
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Download Our Pamphlet{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div><center>
							<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
								<div class="stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark" data-plugin-options="{'responsive' : {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': true, 'margin': 20, 'stagePadding': 75}">
									<div>
										<a class="text-decoration-none">
											<div class="thumb-info2 custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon">
													<img src="img/dorado.png" class="img-fluid"/>
												</div>
											</div>
										</a>
										<h4 class="text-center mb-0"><a href="pdf/STG Mining Pamphlet +Mexico.pdf" download="Panfleto" class="text-color-dark text-color-hover-primary text-decoration-none text-2">{% trans %}Download Here{% endtrans %}</a></h4>
									</div>
								</div>
							</div>
						</center>
						</div>
					</div>
				</section>


			</div> 
{% endblock %}