{% extends "base-environment.html.twig" %}
{% block title2 %}{% trans %} Enrironment Area {% endtrans %} | {% endblock %}
{% block content2 %}

<div role="main" class="main">

                <div class="container pt-2">
					<div class="row justify-content-center pt-4 mt-5">
						<div class="col-lg-8 text-center">
							
							<div class="overflow-hidden mb-3">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Sprcialists in Waste Water Treatment.{% endtrans %}</h3>
							</div>
						</div>
					</div>
                </div>

				<div class="slider-container rev_slider_wrapper" style="height: 670px;">
					<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
						<ul>
							<!-- Inicia segunda página de slider -->
							<li class="slide-overlay" data-transition="fade">
								<img src="img/WASTEWATER1.jpg"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat" 
									class="rev-slidebg">

								<div class="tp-caption text-color-light font-weight-extra-bold"
									data-x="center"
									data-y="center" data-voffset="['-100','-100','-100','-140']"
									data-start="700"
									data-fontsize="['25','25','25','40']"
									data-lineheight="['25','25','25','45']"
									data-transform_in="y:[-40%];opacity:-50;"></div>

									<div class="tp-caption text-color-light font-weight-extra-bold"
									data-x="center"
									data-y="center" data-voffset="['125','125','125','200']"
									data-start="700"
									data-fontsize="['30','30','30','40']"
									data-lineheight="['20','20','20','55']"
									data-transform_in="y:[-40%];opacity:-50;"></div>

									<div class="tp-caption text-color-light font-weight-extra-bold"
									data-x="center"
									data-y="center" data-voffset="['155','155','155','250']"
									data-start="700"
									data-fontsize="['30','30','30','40']"
									data-lineheight="['20','20','20','55']"
									data-transform_in="y:[-40%];opacity:-50;"></div>

							</li>

							<li class="slide-overlay" data-transition="fade">
								<img src="img/WASTEWATER3.jpg"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat" 
									class="rev-slidebg">
							</li>

							<li class="slide-overlay" data-transition="fade">
								<img src="img/WASTEWATER5.jfif"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat" 
									class="rev-slidebg">
							</li>
						</ul>
					</div>
				</div>
			</div>

{% endblock %}
