{% extends "base-environment.html.twig" %}
{% block title2 %}{% trans %} Enrironment Products {% endtrans %} | {% endblock %}
{% block content2 %}

<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="https://www.avantuwater.com/wp-content/uploads/2020/10/2.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h2 class="font-weight-bold text-transform-none text-4 line-height-2 mb-3">{% trans %}Fatking biomass secretes mainly lipase being the main enzyme to biodegrade fats, 
                                oils and greases in all environments such as fat traps, septic tanks STW.{% endtrans %}</h2>
								<p> ° {% trans %}Predominantly lipase producing bacteria for FOG biodegradation.{% endtrans %}</p>
								<p>	° {% trans %}Eliminates the source of smells related to kitchen waste.{% endtrans %}</p>
								<p>	° {% trans %}Breaks down FOG buildup in pipes.{% endtrans %}</p>
								<p> ° {% trans %}Converts FOG molecules to CO2 and H2O.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>


				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h2 class="font-weight-bold text-transform-none text-4 line-height-2 mb-4">{% trans %}Hydroking biodegrades hydrocarbon oil in water, soils, carpets, 
                                brick paving and is environmentally friendly to marine, flora, forna, aquatic life and animals.{% endtrans %}</h2>
								<p>° {% trans %}Due to the Increased dissolved oxygen it biodegrades the hydrocarbon molecules to CO2 and water leaving harmless nutrients.{% endtrans %}</p>
								<p>° {% trans %}The process converts hazardous hydrocarbons to non-hazardous.{% endtrans %}</p>
								<p>° {% trans %}Removes by biodegrading the hydrocarbon impregnated into concrete, carpets, soil, water, and metal surfaces, leaving no residue.{% endtrans %}</p>
								
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/hydroking-logo.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/FOGKING-LOGO-1.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h2 class="font-weight-bold text-transform-none text-4 line-height-2 mb-3">{% trans %}A powerful broad-spectrum biocatalyst that significantly 
                                accelerates the natural biological degradation rate of fats, oils, and grease organic waste by up to 1000 times.{% endtrans %}</h2>
								<p>° {% trans %}Increases the dissolved oxygen by up to 600%.{% endtrans %}</p>
								<p>° {% trans %}Biodegrades fats, oils, grease, and protein on dishes, in dishwashing machines, pipes, septic tanks and general equipment degreasing.{% endtrans %}</p>
								<p>° {% trans %}Converts fats, oils, and grease molecules to CO2 and water leaving the nutrients being food for bacteria in STP.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h1 class="font-weight-bold text-transform-none text-4 line-height-2 mb-4">{% trans %}AquaKing is based on the amphiphilic molecule which 
                                increases the dissolved by 600% thereby reducing the mortality of fingerlings in fish farming from an average of 43% to 55% down to 3% to 5%. 
                                Keeps the water clear and biodegrades the fish faeces.{% endtrans %}</h1>
								<p>° {% trans %}Increases the dissolved Oxygen by up to 600%.{% endtrans %}</p>
								<p>° {% trans %}Reduces Energy Usage (aeration system).{% endtrans %}</p>
								<p>° {% trans %}Biodegrades marine faecal and food waste and bottom sludge.{% endtrans %}</p>
								<p>° {% trans %}Reduces Volatile Organic Compounds and Ammonia.{% endtrans %}</p>
								
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/AQUAKING-PRODUCT-CARD.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/SLUDGEKING-PRODUCT-CARD.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h1 class="font-weight-bold text-transform-none text-4 line-height-2 mb-3">{% trans %}Converts the anaerobic sludge to aerobic. The aerobic biodegradation takes 
                                approximate 7 days instead of the 54 days in the anaerobic zone.{% endtrans %}</h1>
								<p>° {% trans %}Predominantly anaerobic action, where the waterborne diseases hibernate. Once converted to the aerobic phase, the waterborne diseases are obliterated.{% endtrans %}</p>
								<p>° {% trans %}The conversion to aerobic eliminates the source of the smells related to the black fermenting anaerobic sludge.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h1 class="font-weight-bold text-transform-none text-4 line-height-2 mb-4">{% trans %}Mozking bacteria secrete a crystalline toxin that prevents the 
                                maturing of the mosquito and black fly larvae.{% endtrans %}</h1>
								<p>° {% trans %}MozKing in conjunction with MozGo and Mozzicote forms a formidable mosquito and fly extermination program.{% endtrans %}</p>
								<p>° {% trans %}The breeding cycle of mosquitoes is 6 weeks; therefore, the application of the MozKing should be every 2 weeks with 3 dosing in total over the 6-week period.{% endtrans %}</p>
								
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/mozking-logo.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/LOOKING-PRODUCT-CARD.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h1 class="font-weight-bold text-transform-none text-4 line-height-2 mb-3">{% trans %}A slow release gel that biodegrades faecal and 
                                organic waste in all management treatment systems.{% endtrans %}</h1>
								<p>° {% trans %}Predominantly aerobic waste biodegradation.{% endtrans %}</p>
								<p>° {% trans %}Eliminates waterborne diseases by converting anaerobic to aerobic sludge.{% endtrans %}</p>
								<p>° {% trans %}Removes smells by degrading the molecules of the faecal waste.{% endtrans %}</p>
								<p>° {% trans %}Converts faecal molecules to CO2 and water leaving the nutrients which is a food source for bacteria.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h1 class="font-weight-bold text-transform-none text-4 line-height-2 mb-4">{% trans %}Biolake biologically removes phosphates and nitrates being the food source of cyanobacteria, aquatic weed, alien grasses.
                                    Removes bottom sludge including gel and restores the ecological equilibrium of the water body.{% endtrans %}</h1>
								<p>° {% trans %}Biolake establishes a biomass using bacterial cultures to remove the phosphorous and nitrogen compounds that most algae including cyanobacteria and grasses uses as a food source.{% endtrans %}</p>
								<p>° {% trans %}Biolake adds a blend of facultative (which perform under aerobic and anaerobic conditions) and anaerobic microbial cultures to break down the vast quantities of bottom sludge.{% endtrans %}</p>
								
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/BIOLAKE-PRODUCT-CARD-1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/MOZCOTE-PRODUCT-CARD.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h1 class="font-weight-bold text-transform-none text-4 line-height-2 mb-3">{% trans %}MozCote the Nano technology apply to walls, ceilings, bedspreads, curtains and furniture will repel mosquitoes for up to 4 months.{% endtrans %}</h1>
								<p>° {% trans %}Once dry, the sprayed surface becomes the repellant.{% endtrans %}</p>
								<p>° {% trans %}MozCote will repel mosquitoes, even with regular washing of the surface.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h1 class="font-weight-bold text-transform-none text-4 line-height-2 mb-4">{% trans %}MozGo using the Nano technology apply MozGo into the washing 
                                rinse and mosquitoes will be repelled for over 3 months even with regular washing of the clothes.{% endtrans %}</h1>
								<p>° {% trans %}The clothing now becomes the repellent and not the person’s skin.{% endtrans %}</p>
								<p>° {% trans %}Many people have adverse reactions to chemically based repellents; not MozGo.{% endtrans %}</p>
								<p>° {% trans %}MozGo will repel for over 3 months, even with regular washing.{% endtrans %}</p>
								
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://www.avantuwater.com/wp-content/uploads/2021/02/MOZGO-LIVESTOCK-LOGO-1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>
{% endblock %}
