{% extends "base.html.twig" %}
{% block title %}{% trans %} Home {% endtrans %} | {% endblock %}
{% block content %}
<section class="p-0 top-space-margin full-screen md-h-600px sm-h-650px" style="margin-top: 135px; height: 810px;">
<div class="swiper h-100 magic-cursor swiper-light-pagination swiper-initialized swiper-horizontal swiper-backface-hidden" data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;loop&quot;: true, &quot;pagination&quot;: { &quot;el&quot;: &quot;.swiper-pagination-bullets&quot;, &quot;clickable&quot;: true }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-one-slide-next-1&quot;, &quot;prevEl&quot;: &quot;.slider-one-slide-prev-1&quot; }, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false },  &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;effect&quot;: &quot;slide&quot; }">
<div class="swiper-wrapper" id="swiper-wrapper-ec44f99a310efec5c" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-3806px, 0px, 0px); transition-delay: 0ms;">
<div class="swiper-slide cover-background swiper-slide-next" style="background-image: url(/images/demo-logistics-slider-02.jpg&quot;); width: 1903px;" role="group" aria-label="2 / 3" data-swiper-slide-index="1">
<div class="container h-100">
<div class="row align-items-center h-100 xl-ps-10 sm-ps-0">
<div class="col-xxl-7 col-xl-10 text-white">
<h1 class="fw-600">Your airborne shipping trusted globally partner.</h1>
<div class="fs-20 opacity-6 mb-40px sm-mb-30px">Swift and reliable air freight solutions worldwide.</div>
<div class="lg-mb-8 md-mb-0">
<a href="https://craftohtml.themezaa.com/demo-logistics-about-us.html" class="btn btn-white btn-extra-large btn-round-edge fw-700 btn-box-shadow me-35px">Explore agency</a>
<a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="text-center d-inline-flex sm-mt-20px rounded-circle video-icon-box video-icon-medium popup-vimeo">
<span class="video-icon bg-base-color me-10px">
<i class="fa-solid fa-play text-dark-gray"></i>
<span class="video-icon-sonar">
<span class="video-icon-sonar-afr border border-2 border-color-base-color"></span>
</span>
</span>
<span class="text-white fs-20">How it work?</span>
</a>
</div>
</div>
</div>
</div>
</div><div class="swiper-slide cover-background swiper-slide-prev" style="background-image: url(/images/demo-logistics-slider-03.jpg&quot;); width: 1903px;" role="group" aria-label="3 / 3" data-swiper-slide-index="2">
<div class="container h-100">
<div class="row align-items-center h-100 xl-ps-10 sm-ps-0">
<div class="col-xxl-7 col-xl-10 text-white">
<h1 class="fw-600">Provided authentic train cargo solutions nationwide.</h1>
<div class="fs-20 opacity-6 mb-40px sm-mb-30px">Reliable train freight services for seamless transport.</div>
<div class="lg-mb-8 md-mb-0">
<a href="https://craftohtml.themezaa.com/demo-logistics-about-us.html" class="btn btn-white btn-extra-large btn-round-edge fw-700 btn-box-shadow me-35px">Explore agency</a>
<a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="text-center d-inline-flex sm-mt-20px rounded-circle video-icon-box video-icon-medium popup-vimeo">
<span class="video-icon bg-base-color me-10px">
<i class="fa-solid fa-play text-dark-gray"></i>
<span class="video-icon-sonar">
<span class="video-icon-sonar-afr border border-2 border-color-base-color"></span>
</span>
</span>
<span class="text-white fs-20">How it work?</span>
</a>
</div>
</div>
</div>
</div>
</div><div class="swiper-slide cover-background swiper-slide-active" style="background-image: url(/images/demo-logistics-slider-01.jpg); width: 1903px;" role="group" aria-label="1 / 3" data-swiper-slide-index="0">
<div class="container h-100">
<div class="row align-items-center h-100 xl-ps-10 sm-ps-0">
<div class="col-xxl-7 col-xl-10 text-white">
<h1 class="fw-600">Digital and very trusted transport logistic agency.</h1>
<div class="fs-20 opacity-6 mb-40px sm-mb-30px">Providing flexibile, improved service levels, and delivery.</div>
<div class="lg-mb-8 md-mb-0">
<a href="https://craftohtml.themezaa.com/demo-logistics-about-us.html" class="btn btn-white btn-extra-large btn-round-edge fw-700 btn-box-shadow me-35px">Explore agency</a>
<a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="text-center d-inline-flex sm-mt-20px rounded-circle video-icon-box video-icon-medium popup-vimeo">
<span class="video-icon bg-base-color me-10px">
<i class="fa-solid fa-play text-dark-gray"></i>
<span class="video-icon-sonar">
<span class="video-icon-sonar-afr border border-2 border-color-base-color"></span>
</span>
</span>
<span class="text-white fs-20">How it work?</span>
</a>
									</div>
									</div>

									<div>
										<a  class="text-decoration-none">
											<div class="thumb-info3 custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/mining-prep.png" class="img-fluid" alt="" />
</div>

									<div>
										<a  class="text-decoration-none">
											<div class="thumb-info3 custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/mining-prep.png" class="img-fluid" alt="" />
												</div>
												</div>
											
											</div>
											</div>
										</a>
										<h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">{% trans %}Sample Preparation{% endtrans %}</a></h4>
									</div>
</div>
										</a>
										<h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">{% trans %}Sample Preparation{% endtrans %}</a></h4>
									</div>


									<div>
										<a  class="text-decoration-none">
											<div class="thumb-info custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/reference-material.png" class="img-fluid" alt="" />
											
									<div>
										<a  class="text-decoration-none">
											<div class="thumb-info custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/reference-material.png" class="img-fluid" alt="" />
												</div>
												</div>
												
											</div>
												
											</div>
										</a>
										<h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">{% trans %}Sample Preparation{% endtrans %}</a></h4>
</div>
										</a>
										<h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">{% trans %}Sample Preparation{% endtrans %}</a></h4>
</div>
</div></div>

<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets d-block d-md-none swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>


<div class="slider-one-slide-prev-1 icon-very-medium text-white swiper-button-prev slider-navigation-style-06 bg-black-transparent-medium h-60px w-60px d-none d-sm-flex border-radius-100" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-ec44f99a310efec5c"><i class="bi bi-arrow-left-short"></i></div>
<div class="slider-one-slide-next-1 icon-very-medium text-white swiper-button-next slider-navigation-style-06 bg-black-transparent-medium h-60px w-60px d-none d-sm-flex border-radius-100" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-ec44f99a310efec5c"><i class="bi bi-arrow-right-short"></i></div>

<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>  			
				
				{% endblock %}
