{% extends "base.html.twig" %}
{% block title %}{% trans %} Home {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">
				<div class="slider-container rev_slider_wrapper" style="height: 670px;">
					<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
						<ul>
							<!-- Inicia segunda página de slider -->
							<li class="slide-overlay" data-transition="fade">
								<img src="/img/iconos.jpg"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat" 
									class="rev-slidebg">

								<div class="tp-caption text-color-light font-weight-extra-bold"
									data-x="center"
									data-y="center" data-voffset="['-100','-100','-100','-140']"
									data-start="700"
									data-fontsize="['25','25','25','40']"
									data-lineheight="['25','25','25','45']"
									data-transform_in="y:[-40%];opacity:-50;">Estamos Aqu&iacute; Para Ti</div>

									<div class="tp-caption text-color-light font-weight-extra-bold"
									data-x="center"
									data-y="center" data-voffset="['125','125','125','200']"
									data-start="700"
									data-fontsize="['30','30','30','40']"
									data-lineheight="['20','20','20','55']"
									data-transform_in="y:[-40%];opacity:-50;">Como especialistas en laboratorios de miner&iacute;a</div>

									<div class="tp-caption text-color-light font-weight-extra-bold"
									data-x="center"
									data-y="center" data-voffset="['155','155','155','250']"
									data-start="700"
									data-fontsize="['30','30','30','40']"
									data-lineheight="['20','20','20','55']"
									data-transform_in="y:[-40%];opacity:-50;">Brindamos productos y servicios que se adaptan a sus necesidades</div>

								<div class="tp-caption font-weight-extra-bold text-color-light"
									data-frames='[{"delay":1700,"speed":1000,"frame":"0","from":"opacity:0;x:-50%;","to":"opacity:0.7;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center"
									data-y="center"
									data-fontsize="['145','145','145','250']"
									data-lineheight="['150','150','150','260']"><img src="/img/dorado.png" alt=""></div>

							</li>

							<li class="slide-overlay" data-transition="fade">
								<img src="/img/informe_laboratorios.jpg"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat" 
									class="rev-slidebg">
							</li>

							<li class="slide-overlay" data-transition="fade">
								<img src="/img/image.png"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat" 
									class="rev-slidebg">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<section class="section section-with-shape-divider border-0 z-index-2 pb-0 m-0">
					<div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
							<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "/>
						</svg>
					</div>

					<div class="container pt-3 mt-5">
						<div class="row justify-content-center mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Nos dedicamos a brindar productos de calidad y un excelente servicio al cliente</h3>
								</div>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Productos en dise&ntilde;o, equipamiento y suministros de combustible de geolog&iacute;a y miner&iacute;a, as&iacute; como tambi&eacute;n productos para laborartorio de miner&iacute;a, metalurgia, </p>
								<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">preparaci&oacute;n de muestras, ensayos a fuego, y m&aacute;s </p>
							</div>
						</div>

						<div class="row">
							<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
								<div class="owl-carousel stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': true, 'margin': 20, 'stagePadding': 75}">
									<div>
										<a class="text-decoration-none">
											<div class="thumb-info3 custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/fire-assay.png" class="img-fluid" alt="" />
												</div>
												
											</div>
										</a>
										<h4 class="text-center mb-0"><a class="text-color-dark text-color-hover-primary text-decoration-none text-2">Hornos de Fuego</a></h4>
									</div>

									<div>
										<a  class="text-decoration-none">
											<div class="thumb-info3 custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/lab-design-illustration.png" class="img-fluid"/>
												</div>
												
											</div>
										</a>
										<h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Dise&ntilde;o de Laboratorios</a></h4>
									</div>

									<div>
										<a  class="text-decoration-none">
											<div class="thumb-info3 custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/mining-prep.png" class="img-fluid" alt="" />
												</div>
											
											</div>
										</a>
										<h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Preparaci&oacute;n de Muestra</a></h4>
									</div>

									<div>
										<a  class="text-decoration-none">
											<div class="thumb-info custom-thumb-info-style-1 mb-3">
												<div class="custom-thumb-info-icon bg-dark">
													<img src="/img/reference-material.png" class="img-fluid" alt="" />
												</div>
												
											</div>
										</a>
										<h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Material de Referencia y Est&aacute;ndares</a></h4>
									</div>

								</div>
							</div>
						</div>
					</div>
				
			</section>

			<div class="container pt-2">
					<div class="row justify-content-center pt-4 mt-5">
						<div class="col-lg-8 text-center">
							
							<div class="overflow-hidden mb-3">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Nuestros Socios Comerciales</h3>
							</div>
							<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">A trav&eacute;s de los a&ntilde;os, nos hemos asociado con distintivas marcas.</p>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="row justify-content-center process custom-process-style-1 my-5">
								<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
									<div class="process-step-circle">
										<strong class="process-step-circle-content text-color-primary"><img src="/img/avantu.png" class="img-fluid"/></strong>
									</div>
									<div class="process-step-content px-lg-4">
										<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2">Avantu</h4>
									</div>
								</div>
								<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
									<div class="process-step-circle">
										<strong class="process-step-circle-content text-color-primary"><img src="/img/rocklabs.png" class="img-fluid"/></strong>
									</div>
									<div class="process-step-content px-lg-4">
										<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2">Rocklabs</h4>
									</div>
								</div>

								<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
									<div class="process-step-circle">
										<strong class="process-step-circle-content text-color-primary"><img src="/img/coldblock.jpg" class="img-fluid"/></strong>
									</div>
									<div class="process-step-content px-lg-4">
										<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2" >ColdBlock</h4>
									</div>
								</div>

								<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
									<div class="process-step-circle">
										<strong class="process-step-circle-content text-color-primary"><img src="/img/Furnace-logo.png" class="img-fluid"/></strong>
									</div>
									<div class="process-step-content px-lg-4">
										<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2" >Furnace and Assays</h4>
									</div>
								</div>

								<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
									<div class="process-step-circle">
										<strong class="process-step-circle-content text-color-primary"><img src="/img/psi-logo.png" class="img-fluid"/></strong>
									</div>
									<div class="process-step-content px-lg-4">
										<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2" >Prolite Systems Inc.</h4>
									</div>
								</div>
								
							
							</div>
							<center>
							<a href="colaboradores.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
								LEER M&Aacute;S 
							</a>
							</center>
						</div>
					</div>

			</div>

			<section class="section section-with-shape-divider border-0 m-0">
					<div class="shape-divider shape-divider-reverse-x" style="height: 120px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
							<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "/>
						</svg>
					</div>
					<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 120px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
							<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "/>
						</svg>
					</div>
					
			</section>
{% endblock %}