{% extends "base.html.twig" %}
{% block title %}{% trans %} Partners {% endtrans %} | STG Mining Supplies{% endblock %}
{% block content %}
<body data-mobile-nav-style="classic">

<section class="top-space-margin page-title-big-typography cover-background pt-0 pb-0" style="background-image: url(&quot;/images/partners-bg.jpg&quot;); margin-top: 167px;">
<div class="container">
<div class="row align-items-center justify-content-center small-screen">
<div class="col-xl-5 col-sm-8 page-title-double-large text-center " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [30, 0], &quot;duration&quot;: 600, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<h1 class="text-base-color fw-700 mb-5px" style="">Partners</h1>
</div>
</div>
</div>
</section>


<section class="half-section">
<!--__________________________Title____________________-->
<div class="container">
<div>
<div style="position: relative;right: 1%;" class="col-lg-9 " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<div class="row" style="">
<div class="col-12 mb-6">
<div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
<div class="w-140px text-center me-50px sm-mx-auto">
<img src="/images/partners/rocklabs-01.png" class="w-120px" alt="" data-no-retina="">
<span class="fs-15 lh-20 d-block sm-mb-15px">Products Designed and Manufactured in New Zealand</span>
</div>
<div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
<h3>Rocklabs</h3>
<p>Rocklabs is a recognized brand, under the Scott Technologies seal; offer robotic and intelligent automation solutions. Was established in 1969 as a commercial, specializing in geochemical analysis and fire assaying.
Since then, Rocklabs has been a global innovator in the sample preparation equipment field, supplying a wide variety of equipment for the mining of gold, silver, platinum, iron and palladium.</p>
<a href="https://scottautomation.com/en/rocklabs" class="btn btn-link btn-large text-dark-gray mt-15px p-0">Visit Page</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--________________________End Title__________________-->
<!--__________________________Title____________________-->
<div class="container">
<div>
<div style="position: relative;left: 10%;" class="col-lg-9 " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<div class="row" style="">
<div class="col-12 mb-6">
<div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
<div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
<h3>CDN Resource Laboratories</h3>
<p>It is one of the leading providers of quality, ready-to-use reference materials in the mining industry.
It offers its clients a wide selection of test reference materials as well. such as the preparation of custom standards upon request.</p>
<a href="http://cdnlabs.com/" class="btn btn-link btn-large text-dark-gray mt-15px p-0">Visit Page</a>
</div>
<div class="w-140px text-center sm-mx-auto" style = "margin-left:50px !Important;">
<img src="/images/partners/CDN-01.png" class="w-120px" alt="" data-no-retina=""><br>
<span class="fs-15 lh-20 d-block sm-mb-15px">Canadian Company Dedicated to Certified Reference Materials</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--________________________End Title__________________-->
<!--__________________________Title____________________-->
<div class="container">
<div>
<div style="position: relative;right: 1%;" class="col-lg-9 " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [80, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<div class="row" style="">
<div class="col-12 mb-6">
<div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
<div class="w-140px text-center me-50px sm-mx-auto">
<img src="/images/partners/coldblock-01.png" class="w-120px" alt="" data-no-retina="">
<span class="fs-15 lh-20 d-block sm-mb-15px">Canadian Made Digestion Systems</span>
</div>
<div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
<h3>ColdBlock Technologies Inc.</h3>
<p>Delivers sample digestion technology to prepare samples for analysis faster, with greater precision and improved safety.
Proven technology is available in multiple platforms that can be incorporated into virtually any standard wet-chem laboratory setting.
</p>
<a href="https://coldblock.ca/" class="btn btn-link btn-large text-dark-gray mt-15px p-0">Visit Page</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--________________________End Title__________________-->
<!--__________________________Title____________________-->
<div class="container">
<div>
<div style="position: relative;left: 10%;" class="col-lg-9 " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<div class="row" style="">
<div class="col-12 mb-6">
<div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
<div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
<h3>Furnace and Assay</h3>
<p>Was established in 2007 with a goal to create a fire assay equipment manufacturing company with an unparalleled focus on quality and customer service.
Furnace and Assay lead the industry with their Technical and Maintenance services.</p>
<a href="https://fandasupplies.com/" class="btn btn-link btn-large text-dark-gray mt-15px p-0">Visit Page</a>
</div>
<div class="w-140px text-center sm-mx-auto" style = "margin-left:50px !Important;">
<img src="/images/partners/furnace-01.png" class="w-120px" alt="" data-no-retina=""><br>
<span class="fs-15 lh-20 d-block sm-mb-15px">Australian Company Producer of Drying, Melting and Cupellation Furnaces</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--________________________End Title__________________-->
<!--__________________________Title____________________-->
<div class="container">
<div>
<div style="position: relative;right: 1%;" class="col-lg-9 " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [80, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<div class="row" style="">
<div class="col-12 mb-6">
<div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
<div class="w-140px text-center me-50px sm-mx-auto">
<img src="/images/partners/psi-01.png" class="w-120px" alt="" data-no-retina="">
<span class="fs-15 lh-20 d-block sm-mb-15px">Laboratory Equipment</span>
</div>
<div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
<h3>Prolite Systems Inc.</h3>
<p>It is a Canadian international manufacturer and distributor of all types of thermoplastic piping systems.(HDPE, PP, PVC, CPVC ECT.) for industrial and municipal projects.
PPSI It also has field bonding services for all of our products.
</p>
<a href="https://www.prolitepiping.com/" class="btn btn-link btn-large text-dark-gray mt-15px p-0">Visit Page</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--________________________End Title__________________-->
</section>

<script type="text/javascript" src="/files/jquery.js"></script>
<script type="text/javascript" src="/files/vendors.min.js"></script>
<script type="text/javascript" src="/files/main.js"></script>

</body>
{% endblock %}