{% extends "base.html.twig" %}
{% block title %}{% trans %} Partners {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Our Partners{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index" class="text-decoration-none">{% trans %}Home{% endtrans %}</a></li>
									<li class="active">{% trans %}Our Partners{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Avantu Water{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Canadian Company With Biological Solutions{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Avantu was formed in 2020 in Canada to bring the magic of approved scientifically selected bacteria biends to the global market.{% endtrans %}</p>
								<p class="mb-o">{% trans %}Our roots are in Africa, where our co-founder, Lohmann Beams discovered the power of good bacteria.{% endtrans %}</p>
								<a href="https://www.avantuwater.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISIT PAGE{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="/img/avantu.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				
				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="/img/CDN.png" width="250px" class="img-fluid  appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" /></center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}CDN Resource Laboratories{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Canadian Company Dedicated to Certified Reference Materials.{% endtrans %}</h2>
								<p class="mb-0">{% trans %}It is one of the leading providers of quality, ready-to-use reference materials in the mining industry.{% endtrans %}</p>
								<p class="mb-0">{% trans %}It offers its clients a wide selection of test reference materials as well. such as the preparation of custom standards upon request.{% endtrans %}</p>
								<a href="http://cdnlabs.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISIT PAGE{% endtrans %} 
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}ColdBlock Technologies Inc.{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Canadian Made Automatic Digestion Systems{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Delivers sample digestion technology to prepare samples for analysis faster, with greater precision and improved safety.{% endtrans %}</p>
								<p class="mb-o">{% trans %}Proven technology is available in multiple platforms that can be incorporated into virtually any standard wet-chem laboratory setting.{% endtrans %}</p>
								<a href="https://coldblock.ca/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISIT PAGE{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://coldblock.ca/wp-content/uploads/2019/10/logo.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<img src="/img/Furnace-logo.png" class="img-fluid  appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Furnace and Assay{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Australian Company Producer of Drying, Melting and Cupellation Furnaces.{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Was established in 2007 with a goal to create a fire assay equipment manufacturing company with an unparalleled focus on quality and customer service.{% endtrans %}</p>
								<p class="mb-0">{% trans %}Furnace and Assay lead the industry with their Technical and Maintenance services.{% endtrans %}</p>
								<a href="https://fandasupplies.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISIT PAGE{% endtrans %} 
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Morgan Advanced Materials{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Australian Manufactured Drying, Melting and Cupellation Furnaces.{% endtrans %}</h3>
								<p class="mb-0">{% trans %}In 1856 the Morgan brothers founded the Patent Plumbago Crucible Company, making crucibles in a small factory in Battersea, London.{% endtrans %}</p> 
								<p class ="mb-o">{% trans %}The company’s success came from their use of graphite (plumbago) in the clay mix to produce a crucible that melted metal faster and lasted longer than anything else available in Europe at the time.{% endtrans %}</p>
								<a href="https://www.morganadvancedmaterials.com/en-gb/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISIT PAGE{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://www.morganadvancedmaterials.com/static/images/mgam-logo.svg" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<img src="/img/psi-logo.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-4">{% trans %}Prolite Systems Inc{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Laboratory Equipment{% endtrans %}</h2>
								<p class="mb-0">{% trans %}It is a Canadian international manufacturer and distributor of all types of thermoplastic piping systems.(HDPE, PP, PVC, CPVC ECT.) for industrial and municipal projects.{% endtrans %}</p> 
									<p class ="mb-o">{% trans %}PPSI It also has field bonding services for all of our products.{% endtrans %}</p>
								<a href="https://www.prolitepiping.com/" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISIT PAGE{% endtrans %} 
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-4">{% trans %}Rocklabs{% endtrans %}</h3>
								<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">{% trans %}Products Designed and Manufactured in New Zealand{% endtrans %}</h2>
								<p class="mb-0">{% trans %}Rocklabs is a recognized brand, under the Scott Technologies seal; offer robotic and intelligent automation solutions.
										Was established in 1969 as a commercial laboratory, specialising in geochemical analysis and fire assaying.{% endtrans %}</p>
								<p class="mb-0">{% trans %}Since then, Rocklabs has been a global innovator in the sample preparation equipment field, supplying a wide variety
												of equipment for the mining of gold, silver, platinum, iron and palladium.{% endtrans %}</p>
								<a href="https://scottautomation.com/en/rocklabs" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}VISIT PAGE{% endtrans %} 
								</a>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="https://scottautomation.com/assets/Brands/Rocklabs/rocklabs-logo_2021-07-12-034328_pirr.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section>
                <br><br>

			</div>
{% endblock %}