{% extends "base.html.twig" %}
{% block title %}{% trans %} Partners {% endtrans %} | {% endblock %}
{% block content %}
<body data-mobile-nav-style="classic">

<section class="top-space-margin page-title-big-typography cover-background pt-0 pb-0" style="background-image: url(&quot;/images/products-title-bg.jpg&quot;); margin-top: 167px;">
<div class="container">
<div class="row align-items-center justify-content-center small-screen">
<div class="col-xl-5 col-sm-8 page-title-double-large text-center " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [30, 0], &quot;duration&quot;: 600, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<h1 class="text-base-color fw-700 mb-5px" style="">Products</h1>
</div>
</div>
</div>
</section>


<section class="half-section">
<br><br>
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-9 " data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<div class="row mb-30px" style="">
<p></p>
</div>
<div class="row" style="">
<div class="col-12 mb-6">
<div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
<div class="w-140px text-center me-50px sm-mx-auto">
<img src="images/team-25.jpg" class="rounded-circle w-120px" alt="" data-no-retina="">
<a href="demo-business-blog.html" class="text-dark-gray fw-500 mt-20px d-inline-block lh-20">Colene Landin</a>
<span class="fs-15 lh-20 d-block sm-mb-15px">Co-founder</span>
</div>
<div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer.</p>
<a href="demo-logistics-latest-blog.html" class="btn btn-link btn-large text-dark-gray mt-15px p-0">All author posts</a>
</div>
</div>
</div>
</div>
<div class="row justify-content-center" style="">
<div class="col-12 text-center elements-social social-icon-style-04">
<ul class="medium-icon dark">
<li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
<li><a class="twitter" href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>
<li><a class="instagram" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a></li>
<li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a></li>
<li><a class="behance" href="http://www.behance.com/" target="_blank"><i class="fa-brands fa-behance"></i><span></span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>

<script type="text/javascript" src="/files/jquery.js"></script>
<script type="text/javascript" src="/files/vendors.min.js"></script>
<script type="text/javascript" src="/files/main.js"></script>

</body>
{% endblock %}