{% extends "base.html.twig" %}
{% block title %}{% trans %} Sample Preparation {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Preparaci&oacute;n de Muestra{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">{% trans %}Inicio{% endtrans %}</a></li>
                                    <li><a href="productos.html" class="text-decoration-none">{% trans %}Productos{% endtrans %}</a></li>
									<li class="active">{% trans %}Preparaci&oacute;n de Muestra{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" 
									data-appear-animation-delay="400">{% trans %}Preparaci&oacute;n de Muestra{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Brands/Rocklabs/_540x540_crop_center-center_100_none/BOYD-Elite-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs BOYD Elite</a></h4>
												<p class="card-text mb-0">{% trans %}El ROCKLABS BOYD Elite es el primer triturador de mandíbula fina de doble acción del mundo, 
													que emplea mandíbulas que pueden contener hasta 5 kg de muestra y triturar una muestra de 70 mm a 2 mm en una sola pasada.{% endtrans %}</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Big-Boyd-Crusher/_540x540_crop_center-center_100_none/BIG-BOYD-Crusher-Option2-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" >Rocklabs BIG BOYD</a></h4>
												<p class="card-text mb-0">{% trans %}La trituradora BOYD de modelo más grande de Rocklabs, la trituradora BIG BOYD, 
													emplea trituradoras de mandíbula fina de doble acción para procesar muestras de hasta 20 kg.{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Smart-Boyd-LSD/_540x540_crop_center-center_100_none/Smart-BOYD-LSD-Hero2-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Smart BOYD LSD</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}El combo Rocklabs Smart BOYD LSD combina la trituradora BOYD con un divisor lineal de muestras (LSD) 
													controlado por un sistema lógico programable (PLC) que permite al operador pesar previamente las muestras y 
													seleccionar los pesos divididos adecuados.{% endtrans %}
												</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Crushers-and-Splitters/_540x540_crop_center-center_100_none/Rocklabs-Mid-Boyd-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Mid BOYD Crusher</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}El Rocklabs Mid-Boyd utiliza nuestro diseño de trituración de mandíbula 
													fina de doble acción, con un tamaño de entrada de muestra aumentado de hasta 100 mm. Con mordazas móviles superior e inferior, 
													MID BOYD ofrece la máxima cantidad de trituración, reduciendo las muestras en 50 veces el tamaño original.{% endtrans %}</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Hydraulic-Crusher/_540x540_crop_center-center_100_none/Hydraulic-Crusher-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Hydraulic Crusher</a></h4>
												<p class="card-text text-3 mb-0">{% trans %}La trituradora hidráulica Rocklabs prepara muestras de trazas de metales antes de pulverizarlas en un molino de 
													anillo ROCKLABS o equipo similar. Está diseñado para ser fácil de usar, simple de mantener y rentable de operar.{% endtrans %}</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Hammer-Mill/_540x540_crop_center-center_100_none/Hammer-Mill-1440x1440.jpg">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Hammer Mill</a></h4>
												<p class="card-text text-2 mb-0">{% trans %}Está especialmente diseñado para procesar muestras con alto contenido de 
													humedad o aquellas que tienden a formar grumos como carbón, piedra caliza, laterita, saprolita, bauxita y yeso, pero puede 
													procesar todos los demás tipos de rocas.{% endtrans %}
												</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://coldblock.ca/wp-content/uploads/2020/01/CB15S-Stand-Digester-Good.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">DIGESTER COLDBLOCK CB15S</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}El CB15S puede funcionar de forma segura en cualquier 
													campana de extracci&oacute;n de laboratorio de qu&iacute;mica h&uacute;meda estándar o en un sistema de ventilaci&oacute;n comparable.{% endtrans %}</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://coldblock.ca/wp-content/uploads/2020/01/cold-res.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">DIGESTER COLDBLOCK CB12L</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}El digestor CB12L es ideal para la preparaci&oacute;n de muestras m&aacute;s grandes de hasta 30 gr.
													El CB12L puede funcionar de forma segura en cualquier campana de extracci&oacute;n de 
													laboratorio de qu&iacute;mica h&uacute;meda estándar o en un sistema de ventilaci&oacute;n comparable.{% endtrans %} </p>	
											</div>
										</div>
									</div>
								</article>
							</div>

						</div>
					</div>
				</section>

				{% block cotizar %}
				{% endblock %}

			</div> 
			<br><br><br><br><br>
{% endblock %}