{% extends "base.html.twig" %}
{% extends "cotizar.html.twig" %}
{% block title %}{% trans %} Products {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Products{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">{% trans %}Home{% endtrans %}</a></li>
									<li class="active">{% trans %}Products{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" 
									data-appear-animation-delay="400">{% trans %}Geology Products{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<center>
								<a href="prod-geo.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>
				
				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" 
									data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Preparaci&oacute;n de Muestra{% trans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Brands/Rocklabs/_540x540_crop_center-center_100_none/BOYD-Elite-Hero-1440x1440.jpg" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs BOYD Elite</a></h4>
												<p class="card-text mb-0">{% trans %}El ROCKLABS BOYD Elite es el primer triturador de mandíbula fina de doble acción del mundo, 
													que emplea mandíbulas que pueden contener hasta 5 kg de muestra y triturar una muestra de 70 mm a 2 mm en una sola pasada.{% endtrans %}</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Big-Boyd-Crusher/_540x540_crop_center-center_100_none/BIG-BOYD-Crusher-Option2-Hero-1440x1440.jpg" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" >Rocklabs BIG BOYD</a></h4>
												<p class="card-text mb-0">{% trans %}La trituradora BOYD de modelo más grande de Rocklabs, la trituradora BIG BOYD, 
													emplea trituradoras de mandíbula fina de doble acción para procesar muestras de hasta 20 kg.{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Smart-Boyd-LSD/_540x540_crop_center-center_100_none/Smart-BOYD-LSD-Hero2-1440x1440.jpg" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Smart BOYD LSD</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}El combo Rocklabs Smart BOYD LSD combina la trituradora BOYD con un divisor lineal de muestras (LSD) 
													controlado por un sistema lógico programable (PLC) que permite al operador pesar previamente las muestras y 
													seleccionar los pesos divididos adecuados.{% endtrans %}
												</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<center>
								<a href="prod-muestra.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" 
									data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Productos de Ensayo de Fuego{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="https://fandasupplies.com/wp-content/uploads/2018/09/25pff-for-web-copy-2-300x300.jpg" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">50/84 Place Fusion</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}Este horno tiene un sistema de doble quemador forzado por ventilador, con sistema de 
													encendido autom&aacute;tico. Se puede cambiar entre GN y GLP (propano) para adaptarse a los diferentes requisitos del sitio, con solo 
													unos pocos ajustes simples realizados en el sitio que implican un mínimo de tiempo de inactividad y costos asociados.{% endtrans %}</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="https://fandasupplies.com/wp-content/uploads/2018/09/50PCF-copy-2-300x300.jpg" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">50 Place Cupellation</a></h4>
												<p class="card-text text-2 mb-0">{% trans %}Este horno tiene un interruptor principal giratorio de encendido/apagado f&aacute;cil de usar.
													Se calienta mediante 12 elementos montados en las paredes laterales. Es ideal para el funcionamiento continuo.
													ya que esto prolongar&aacute; la vida de los elementos.{% endtrans %}</p>
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
												<img class="card-img-top border-radius-0 mb-4" src="https://fandasupplies.com/wp-content/uploads/2018/09/100PCF-copy-300x300.jpg" alt="Product Name">
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">100 Place Cupellation</a></h4>
												<p class="card-text mb-0">{% trans %}El 100 Place Cupellation es adecuado para laboratorios grandes, con procesamientos de entre 400 a 1200 muestras por d&iacute;.
													Trabaja con gas natural, gas licuado de petroleo (L.P.) y Diesel.{% endtrans %}
												</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>

							<center>
								<a href="prod-ensayo.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" 
									data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Equipo de Laboratorio{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<center>
								<a href="prod-lab.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" 
									data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Instruments{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<center>
								<a href="prod-instrumentos.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" 
									data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Metallurgical Products{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<center>
								<a href="prod-metalu.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" 
									data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Chemical Reagents{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="#">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Describe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
							<center>
								<a href="prod-quim.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" 
									data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Reference Materials and Standars{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Certified reference materials by Rocklabs{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Rocklabs Certified Reference Materials are recognized as the most accurate reference materials and Reliable worldwide and certified for the elements of the Gold, Silver and Platinum group.{% endtrans %}</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Certified reference materials by CDN{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}CDN certified reference materials and standards are prepared 
												from real minerals or mixtures of real minerals with mineral concentrates.{% endtrans %}</p>
											</div>
										</div>
									</div>
								</article>
							</div>
							<center>
								<a href="prod-ref.html" class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
									{% trans %}READ MORE{% endtrans %} 
								</a>
								</center>
						</div>
					</div>
				</section>

				{% block cotizar %}
				{% endblock %}
				

			</div> 
			<br><br><br><br><br>
{% endblock %}