{% extends "base.html.twig" %}
{% block title %}{% trans %} Reference Materials and Standars {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Materiales de Referenc&iacute;a{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">Inicio</a></li>
                                    <li><a href="productos.html" class="text-decoration-none">Productos</a></li>
									<li class="active">{% trans %}Materiales de Referenc&iacute;a{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" 
									data-appear-animation-delay="400">{% trans %}Materiales de Referenc&iacute;a{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Material de referencia de Oro Marca Rocklabs-OxC152{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Material de referencia de Oro Marca Rocklabs-OxG140{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Material de referencia de Oro Marca Rocklabs-OxC152{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Material de referencia de Oro y Plata Marca Rocklabs-Oxi164{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Material de referencia de Oro y Plata Marca Rocklabs-SN104{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Material de referencia de Oro y Plata Marca Rocklabs-SG99{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Material de referencia de Oro y Plata Marca Rocklabs-SL105{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Muestras de Roca Pulverizada CDN-ME-1709 (bolsas de 100g){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Muestras de Roca Pulverizada CDN-ME-1709 (bolsas de 1Kg.){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Muestras de Roca Pulverizada CDN-ME-1902 (bolsas de 100g){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Muestras de Roca Pulverizada CDN-ME-1805 (bolsas de 60g){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Muestras de Roca Pulverizada CDN-GS-P1A (bolsas de 50g){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>
							
						</div>
					</div>
				</section>

				<section class="section section-height-2 overlay overlay-show overlay-color-primary overlay-op-5 border-0 m-0" >
					<div class="container py-3">
						<div class="row align-items-center justify-content-center text-center text-lg-start">
							<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
								<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">{% trans %}Tenemos tu soluci&oacute;n{% endtrans %}</h2>
							</div>
							<div class="col-lg-3 text-lg-end">
								<a  class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
									<svg class="custom-svg-btn-background" version="1.1" x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
										<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10" points="7,5 185,5 205,34 186,63 7,63 "/>
									</svg>
									{% trans %}COTIZA CON NOSOTROS POR LLAMADA O CORREO ELECTR&Oacute;NICO{% endtrans %}
								</a>
							</div>
						</div>
					</div>
				</section>

			</div> 
			<br><br><br><br><br>
{% endblock %}