{% extends "base.html.twig" %}
{% block title %}{% trans %} About Us {% endtrans %} | STG Mining Supplies{% endblock %}
{% block content %}
<section class="top-space-margin page-title-big-typography cover-background pt-0 pb-0" style="background-image: url(/images/mining_slider_0002.jpg); margin-top: 135px;">
<div class="container">
<div class="row align-items-center justify-content-center small-screen">
<div class="col-xl-5 col-sm-8 page-title-double-large text-center" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [30, 0], &quot;duration&quot;: 600, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<h1 class="text-base-color fw-700 mb-5px" style="">{% trans %}About us{% endtrans %}</h1>
</div>
</div>
</div>
</section>

<section class="position-relative overflow-hidden overlap-height pb-0">
<img src="/files/mining.about-02.png" style = "left: 250px !Important;" class="position-absolute left-150px top-50px z-index-minus-1 skrollable skrollable-before" alt="" data-bottom-top="transform: translate3d(80px, 0px, 0px);" data-top-bottom="transform: translate3d(-380px, 0px, 0px);" style="transform: translate3d(80px, 0px, 0px);" data-no-retina="">
<!--<img src="/files/mining.about-03.png" class="position-absolute right-100px top-50px z-index-minus-1 skrollable skrollable-before" alt="" data-bottom-top="transform:scale(1.4, 1.4) translate3d(0px, 0px, 0px);" data-top-bottom="transform:scale(1, 1) translate3d(-300px, 0px, 0px);" style="transform: scale(1.4, 1.4) translate3d(0px, 0px, 0px);" data-no-retina="">-->
<div class="container overlap-gap-section">
<div class="row align-items-center justify-content-lg-start justify-content-center text-lg-start text-center">
<div class="col-lg-6 col-md-10 md-mb-50px" style = "width: 30% !Important;">
<figure class="position-relative m-0 md-w-95 xs-w-90">
<img src="/images/mining-home-05-t.png" class="w-90 border-radius-8px" alt="" data-no-retina="">
<figcaption class="position-absolute bg-dark-gray border-radius-10px box-shadow-quadruple-large bottom-100px xs-bottom-minus-10px right-minus-30px w-240px xs-w-200px text-center last-paragraph-no-margin animation-float" style = "right: 0px; !Important">
<div class="bg-white pt-35px pb-35px xs-p-20px border-radius-8px mb-10px" style = "padding-bottom:0px !Important; padding-top:0px !Important;">
<img src="/images/quality_001.png">
</div>
<img src="/files/demo-real-estate-trustpilot.svg" class="h-30px mb-15px" alt="" data-no-retina="">
</figcaption>
</figure>
</div>
<div class="col-lg-5 col-md-10 offset-lg-1" data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<h2 class="fw-700 text-dark-gray ls-minus-1px">{% trans %}Quality Policy{% endtrans %}</h2>
<div class="swiper position-relative swiper-fade swiper-initialized swiper-horizontal swiper-autoheight swiper-watch-progress swiper-backface-hidden" data-slider-options="{ &quot;autoHeight&quot;: true, &quot;loop&quot;: true, &quot;allowTouchMove&quot;: true, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.swiper-button-next&quot;, &quot;prevEl&quot;: &quot;.swiper-button-prev&quot; }, &quot;effect&quot;: &quot;fade&quot; }">
<div class="swiper-wrapper mb-40px" style="height: 245px; transition-duration: 0ms; transition-delay: 0ms;" id="swiper-wrapper-fd75dc4ebc340cff" aria-live="off">
<div class="swiper-slide review-style-08 swiper-slide-next" style="width: 478px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="2 / 3" data-swiper-slide-index="1">
<p class="w-80 lg-w-100" style = "text-align: justify;">{% trans %}We are a company that provides supplies, equipment, and technical services for mining laboratories.<br>
As a growing company with a global reach, our clients are what truly matter.<br>
Our commitments are to meet applicable requirements, continuously improve the processes that make up the quality management system, and provide honest and reliable service, combined with the best products to meet our clients' specific needs.{% endtrans %}</p>
</div></div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
</div>
</div>
</section>

<section class="position-relative overflow-hidden overlap-height pb-0">
<!--<img src="/files/mining.about-02.png" style = "left: 250px !Important;" class="position-absolute left-150px top-50px z-index-minus-1 skrollable skrollable-before" alt="" data-bottom-top="transform: translate3d(80px, 0px, 0px);" data-top-bottom="transform: translate3d(-380px, 0px, 0px);" style="transform: translate3d(80px, 0px, 0px);" data-no-retina="">-->
<img src="/files/mining.about-03.png" class="position-absolute right-100px top-50px z-index-minus-1 skrollable skrollable-before" alt="" data-bottom-top="transform:scale(1.4, 1.4) translate3d(0px, 0px, 0px);" data-top-bottom="transform:scale(1, 1) translate3d(-300px, 0px, 0px);" style="transform: scale(1.4, 1.4) translate3d(0px, 0px, 0px);" data-no-retina="">
<div class="container overlap-gap-section">
<div class="row align-items-center justify-content-lg-start justify-content-center text-lg-start text-center">
<div class="col-lg-5 col-md-10 offset-lg-1" data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<h2 class="fw-700 text-dark-gray ls-minus-1px">{% trans %}Quality Objectives{% endtrans %}</h2>
<div class="swiper position-relative swiper-fade swiper-initialized swiper-horizontal swiper-autoheight swiper-watch-progress swiper-backface-hidden" data-slider-options="{ &quot;autoHeight&quot;: true, &quot;loop&quot;: true, &quot;allowTouchMove&quot;: true, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.swiper-button-next&quot;, &quot;prevEl&quot;: &quot;.swiper-button-prev&quot; }, &quot;effect&quot;: &quot;fade&quot; }">
<div class="swiper-wrapper mb-40px" style="height: 245px; transition-duration: 0ms; transition-delay: 0ms;" id="swiper-wrapper-fd75dc4ebc340cff" aria-live="off">
<div class="swiper-slide review-style-08 swiper-slide-next" style="width: 478px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="2 / 3" data-swiper-slide-index="1">
<p class="w-80 lg-w-100" style = "text-align: justify;">{% trans %}Improve or maintain customer satisfaction at acceptable levels<br>
Maintain the ISO 9001 certification of our Quality Management System<br>
Continuously improve QMS processes{% endtrans %}</p>
</div></div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
<div class="col-lg-6 col-md-10 md-mb-50px" style = "width: 30% !Important;">
<figure class="position-relative m-0 md-w-95 xs-w-90">
<img src="/images/mining-home-05-t.png" class="w-90 border-radius-8px" alt="" data-no-retina="">
<figcaption class="position-absolute bg-dark-gray border-radius-10px box-shadow-quadruple-large bottom-100px xs-bottom-minus-10px right-minus-30px w-240px xs-w-200px text-center last-paragraph-no-margin animation-float" >
<div class="bg-white pt-35px pb-35px xs-p-20px border-radius-8px mb-10px" style = "padding-bottom:0px !Important; padding-top:0px !Important;">
<img src="/images/quality_003.png">
</div>
<img src="/files/demo-real-estate-trustpilot.svg" class="h-30px mb-15px" alt="" data-no-retina="">
</figcaption>
</figure>
</div>
</div>
</div>
</section>


<section>
<div class="container">
<div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 clients-style-04 justify-content-center" data-anime="{&quot;opacity&quot;: [0,1], &quot;duration&quot;: 400, &quot;delay&quot;: 300, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

<div class="col text-center transition-inner-all lg-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/CDN.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all lg-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/coldblock.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all lg-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/furnace.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all sm-mb-30px">
<div class="client-box">
<a href="#"><img src="/images/partners/psi.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>


<div class="col text-center transition-inner-all">
<div class="client-box">
<a href="#"><img src="/images/partners/rocklabs.png" alt="" data-no-retina="" style = "filter: grayscale(100%);"></a>
</div>
</div>

</div>
</div>
</section>
{% endblock %}