{% extends "base.html.twig" %}

{% block title %}{% trans %} Reference Materials and Standars {% endtrans %} | {{parent()}}{% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Reference Materials and Standars{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index" class="text-decoration-none">Home</a></li>
                                    <li><a href="products" class="text-decoration-none">Products</a></li>
									<li class="active">{% trans %}Reference Materials and Standars{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" 
									data-appear-animation-delay="400">{% trans %}Reference Materials and Standars{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Rocklabs-OxC152 Brand Gold Reference Material{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Rocklabs-OxG140 Brand Gold Reference Material{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<!--<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Rocklabs-OxC152 Brand Gold Reference Material{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>-->

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Rocklabs-Oxi164 Brand Gold and Silver Reference Material{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Rocklabs-SN104 Brand Gold and Silver Reference Material{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Rocklabs-SG99 Brand Gold and Silver Reference Material{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Certified-Reference-Materials/_540x540_crop_center-center_100_none/Reference-Materials-1440x1440_2021-08-18-232057_qlbk.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Rocklabs-SL105 Brand Gold and Silver Reference Material{% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="/img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}PULVERIZED ROCK SAMPLES CDN-ME-1709 (100g bags){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="/img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}PULVERIZED ROCK SAMPLES CDN-ME-1709 (1 kg jars){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="/img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}PULVERIZED ROCK SAMPLES CDN-ME-1902 (100g bags){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="/img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}PULVERIZED ROCK SAMPLES CDN-ME-1805 (60g bags){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a>
												<img class="card-img-top border-radius-0 mb-4" src="/img/CDN.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}PULVERIZED ROCK SAMPLES CDN-GS-P1A (50g bags){% endtrans %}</a></h4>
												<p class="card-text mb-0"></p>
											</div>
										</div>
									</div>
								</article>
							</div>
							
						</div>
					</div>
				</section>


			</div> 
			<br><br><br><br><br>
{% endblock %}