{% extends "base.html.twig" %}
{% block title %}{% trans %} Sample Preparation {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Sample Preparation{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index" class="text-decoration-none">{% trans %}Home{% endtrans %}</a></li>
                                    <li><a href="products" class="text-decoration-none">{% trans %}Products{% endtrans %}</a></li>
									<li class="active">{% trans %}Sample Preparation{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" 
									data-appear-animation-delay="400">{% trans %}Sample Preparation{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Brands/Rocklabs/_540x540_crop_center-center_100_none/BOYD-Elite-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs BOYD Elite</a></h4>
												<p class="card-text mb-0">{% trans %}The ROCKLABS BOYD Elite is the world’s first double-acting fine jaw crusher, employing jaws 
												that can hold up to 5kg of sample and crush a 70mm sample to 2mm in a single pass.{% endtrans %}</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Big-Boyd-Crusher/_540x540_crop_center-center_100_none/BIG-BOYD-Crusher-Option2-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none" >Rocklabs BIG BOYD</a></h4>
												<p class="card-text mb-0">{% trans %}Rocklabs larger-model BOYD Crusher – the BIG BOYD Crusher - employs double-acting fine jaw crushers 
												to process samples of up to 20kg.{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Smart-Boyd-LSD/_540x540_crop_center-center_100_none/Smart-BOYD-LSD-Hero2-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Smart BOYD LSD</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}The Rocklabs Smart BOYD LSD combo combines the BOYD Crusher with a Linear Sample Divider (LSD) controlled by a Programmable Logic System (PLC) 
												allowing an operator to pre-weigh samples and select the suitable split weights. It is capable of variable splits in one pass.{% endtrans %}
												</p>
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Crushers-and-Splitters/_540x540_crop_center-center_100_none/Rocklabs-Mid-Boyd-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Mid BOYD Crusher</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}The Rocklabs Mid-Boyd utilises our double acting fine jaw crushing design, with an increased sample input size of up to 100mm. 
												Featuring top and bottom moving jaws, the MID BOYD delivers the maximum amount of crushing, reducing 
												samples by 50 times the original size.{% endtrans %}</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Hydraulic-Crusher/_540x540_crop_center-center_100_none/Hydraulic-Crusher-Hero-1440x1440.jpg" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Hydraulic Crusher</a></h4>
												<p class="card-text text-3 mb-0">{% trans %}The Rocklabs Hydraulic Crusher trims excess material from rock samples and drills 
												cores prior to pulverising.{% endtrans %}</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://scottautomation.com/assets/Sectors/Mining/Products/Rocklabs-Hammer-Mill/_540x540_crop_center-center_100_none/Hammer-Mill-1440x1440.jpg">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">Rocklabs Hammer Mill</a></h4>
												<p class="card-text text-2 mb-0">{% trans %}The design simplicity makes the Rocklabs Hammer Mill suitable for processing a wide variety of materials. 
												It is particularly designed to process samples with high moisture content or those that tend to form lumps such as coal, 
												limestone, laterite, saprolite, bauxite, and gypsum but can process all other rock types.{% endtrans %}
												</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://coldblock.ca/wp-content/uploads/2020/01/CB15S-Stand-Digester-Good.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">DIGESTER COLDBLOCK CB15S</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}The CB15S can safely operate in any standard wet-chem laboratory fume hood or comparable ventilation system.{% endtrans %}</p>	
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="https://coldblock.ca/wp-content/uploads/2020/01/cold-res.png" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">DIGESTER COLDBLOCK CB12L</a></h4>
												<p class="card-text text-1 mb-0">{% trans %}The CB12L digester is ideal for preparation of larger sample sizes up to 30 g. The CB12L can safely operate 
												in any standard wet-chem laboratory fume hood or comparable ventilation system.{% endtrans %} </p>	
											</div>
										</div>
									</div>
								</article>
							</div>

						</div>
					</div>
				</section>

				{% block cotizar %}
				{% endblock %}

			</div> 
			<br><br><br><br><br>
{% endblock %}