{% extends "base.html.twig" %}
{% block title %}{% trans %} Servicios {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">Servicios</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">Inicio</a></li>
									<li class="active">Servicios</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/laboratorio-medico.png" width="200px" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Mantenimiento de Equipo de Laboratorio</h3>
								<p class="mb-0">Trabajamos estrechamente con usted para mantener su equipo en un estado de funcionamiento &oacute;ptimo.</p>
								<p class="mb-0">Proporcionamos inspecciones, pruebas, reemplazos, reinstalaciones, calibraciones, reparaciones 
									y reconstrucciones según sea necesario.</p>
							</div>
						</div>
					</div>
				</section><br><br>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Soporte T&eacute;cnico</h3>
								<p class="mb-0">Te ayudamos a optimizar y mejorar el rendimiento de tus productos o servicios tecnol&oacute;gicos, como hardware y software, con un enfoque de prevenci&oacute;n de problemas.</p>
								<p class="mb-o">Buscamos brindarle la mejor orientaci&oacute;n sobre el uso de los sistemas y las correcciones para el mal funcionamiento de los equipos.</p>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="img/demos/digital-agency/icons/mac.svg" width="250px" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section><br><br><br>

				<div class="row justify-content-center mb-5">
					<div class="col-lg-9 col-xl-8 text-center">
						<div class="overflow-hidden mb-3">
							<p></p>
							<h3 class="font-weight-bold text-color-primary font-weight-bold positive-ls-3 text-9 mb-0 appear-animation " data-appear-animation="maskUp" data-appear-animation-delay="400">&Aacute;rea Ambiental</h3>
						</div>
					</div>
				</div>

				<section class="section2 custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/ambiental/ahorrar-agua.png" width="200px" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Servicio de Agua Residuales</h3>
								<p class="mb-0">Uno de los grandes beneficios del tratamiento de aguas residuales es el de producir en gran medida agua limpia reutilizable y que esté convenientemente disponible para el rehúso. </p>
								<p class="mb-0">Este tipo de tratamiento también es conocido como depuración de las aguas residuales.</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-light border-0 z-index-2 pb-0 m-0">
					<div class="container pt-3 mt-5">
						<div class="row justify-content-center mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden">
									<h2 class="text-color-primary font-weight-medium positive-ls-3 text-6 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Especialistas en Tratamientos de Agua Residuales</h2>
								</div>
							</div>
						</div>
						<div class="row pb-5 mb-5">
							<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
								<div class="owl-carousel stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoHeight': true, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': false, 'margin': 20, 'stagePadding': 75}">
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/PIGKING-PRODUCT-CARD.png"></h4>
											<p class="text-color-light opacity-12 text-2 font-weight-bold mb-0">Acelera la biodegradación del efluente de los procesos de la 
												industria del cerdo (purines) y elimina rápidamente el amoníaco, responsable de los olores nocivos.</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/LOOKING-PRODUCT-CARD.png"></h4>
											<p class="text-color-light opacity-12 text-4 font-weight-bold mb-0">Gel de liberación lenta que biodegrada los residuos orgánicos y fecales en 
												todos los sistemas de tratamiento de aguas.</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2020/10/2.png"></h4>
											<p class="text-color-light opacity-12 text-4 font-weight-bold mb-0">La biomasa segrega principalmente grasa mediante la principal enzima para biodegradar 
												grasas y aceites, la lipasa.</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/FOGKING-LOGO-1.png"></h4>
											<p class="text-color-light opacity-12 text-2 font-weight-bold mb-0">Un potente biocatalizador de amplio espectro que acelera significativamente la tasa de 
												degradación biológica natural de grasas, aceites y desechos orgánicos hasta 1000 veces.</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/hydroking-logo.png"></h4>
											<p class="text-color-light opacity-12 text-3 font-weight-bold mb-0">Biodegrada el aceite de hidrocarburos en el agua, suelos, alfombras, pavimentos de ladrillos 
												y es eco-amigable con el medio ambiente para la flora, la fauna, la vida acuática y los animales.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section2 section-height-2 overlay overlay-show overlay-color-primary overlay-op-5 border-0 m-0" >
					<div class="container py-3">
						<div class="row align-items-center justify-content-center text-center text-lg-start">
							<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
								<h2 class="text-color-light font-weight-light custom-positive-ls-5px mb-0">Servicio De Agua Residual</h2>
								<h2 class="text-color-light font-weight-light custom-positive-ls-5px mb-0">Cotiza Con Nosotros</h2>
							</div>
							<div class="col-lg-3 text-lg-end">
								<a  class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
									<svg class="custom-svg-btn-background" version="1.1" x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
										<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10" points="7,5 185,5 205,34 186,63 7,63 "/>
									</svg>
									LLAMANOS AL (618) 122-04-44
								</a>
							</div>
						</div>
					</div>
				</section>
				
                <br><br>

			</div> 
{% endblock %}