{% extends "base.html.twig" %}
{% block title %}{% trans %} Services {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}Services{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index.html" class="text-decoration-none">{% trans %}Home{% endtrans %}</a></li>
									<li class="active">{% trans %}Services{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/laboratorio-medico.png" width="200px" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Laboratory Equipment Maintenence{% endtrans %}</h3>
								<p class="mb-0">{% trans %}We work closely with you to maintain your equipment in a state of optimal functioning.{% endtrans %}</p>
								<p class="mb-0">{% trans %}We provide onsite inspections, testing, replacement, re-installations, calibrations, repairs and reconstruction as needed.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section><br><br>

				<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Technical Support{% endtrans %}</h3>
								<p class="mb-0">{% trans %}We help you optimize and improve the performance of your technological products or services, such as hardware and software, with a problem-prevention approach.{% endtrans %}</p>
								<p class="mb-o">{% trans %}We seek to provide you with the best guidance on the use of systems, and corrections for equipment malfunctions.{% endtrans %}</p>
							</div>
							<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
								<img src="img/demos/digital-agency/icons/mac.svg" width="250px" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
							</div>
						</div>
					</div>
				</section><br><br><br>

				<div class="row justify-content-center mb-5">
					<div class="col-lg-9 col-xl-8 text-center">
						<div class="overflow-hidden mb-3">
							<p></p>
							<h3 class="font-weight-bold text-color-primary font-weight-bold positive-ls-3 text-9 mb-0 appear-animation " data-appear-animation="maskUp" data-appear-animation-delay="400">{% trans %}Environmental Area{% endtrans %}</h3>
						</div>
					</div>
				</div>

				<section class="section2 custom-section-shape-background border-0 m-0">
					<div class="container position-relative z-index-3 my-5">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
								<center>
								<img src="img/ambiental/ahorrar-agua.png" width="200px" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
							</center>
							</div>
							<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">{% trans %}Waste Water Service{% endtrans %}</h3>
								<p class="mb-0">{% trans %}One of the great benefits of wastewater treatment is to produce largely clean, reusable water that is conveniently available for reuse.{% endtrans %}</p>
								<p class="mb-0">{% trans %}This type of treatment is also known as wastewater purification.{% endtrans %}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-light border-0 z-index-2 pb-0 m-0">
					<div class="container pt-3 mt-5">
						<div class="row justify-content-center mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								<div class="overflow-hidden">
									<h2 class="text-color-primary font-weight-medium positive-ls-3 text-6 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">{% trans %}Waste Water Treatment Specialists{% endtrans %}</h2>
								</div>
							</div>
						</div>
						<div class="row pb-5 mb-5">
							<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
								<div class="owl-carousel stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoHeight': true, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': false, 'margin': 20, 'stagePadding': 75}">
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/PIGKING-PRODUCT-CARD.png"></h4>
											<p class="text-color-light opacity-12 text-2 font-weight-bold mb-0">{% trans %}Accelerates the biodegradation of effluent from the processes of the
												pig industry (slurry) and quickly removes ammonia, responsible for harmful odors.{% endtrans %}</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/LOOKING-PRODUCT-CARD.png"></h4>
											<p class="text-color-light opacity-12 text-4 font-weight-bold mb-0">{% trans %}Slow release gel that biodegrades organic and faecal waste into
												all water treatment systems.{% endtrans %}</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2020/10/2.png"></h4>
											<p class="text-color-light opacity-12 text-4 font-weight-bold mb-0">{% trans %}Biomass secretes mainly fat through the main enzyme to biodegrade
												fats and oils, lipase.{% endtrans %}</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/FOGKING-LOGO-1.png"></h4>
											<p class="text-color-light opacity-12 text-2 font-weight-bold mb-0">{% trans %}A powerful broad-spectrum biocatalyst that significantly accelerates the rate of
												natural biological degradation of fats, oils and organic waste up to 1000 times.{% endtrans %}</p>
										</div>
									</div>
									<div>
										<div class="custom-bg-lighten-ambiental custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
											<h4 class="text-color-light font-weight-bold text-6 mb-4"><img src="https://www.avantuwater.com/wp-content/uploads/2021/02/hydroking-logo.png"></h4>
											<p class="text-color-light opacity-12 text-3 font-weight-bold mb-0">{% trans %}Biodegrades hydrocarbon oil in water, floors, carpets, brick pavements
												and it is eco-friendly with the environment for flora, fauna, aquatic life and animals.{% endtrans %}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section2 section-height-2 overlay overlay-show overlay-color-primary overlay-op-5 border-0 m-0" >
					<div class="container py-3">
						<div class="row align-items-center justify-content-center text-center text-lg-start">
							<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
								<h2 class="text-color-light font-weight-light custom-positive-ls-5px mb-0">{% trans %}Waste Water Service{% endtrans %}</h2>
								<h2 class="text-color-light font-weight-light custom-positive-ls-5px mb-0">{% trans %}Quote With Us{% endtrans %}</h2>
							</div>
							<div class="col-lg-3 text-lg-end">
								<a  class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
									<svg class="custom-svg-btn-background" version="1.1" x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
										<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10" points="7,5 185,5 205,34 186,63 7,63 "/>
									</svg>
									{% trans %}CALL TO (618) 122-04-44{% endtrans %}
								</a>
							</div>
						</div>
					</div>
				</section>
				
                <br><br>

			</div> 
{% endblock %}