body{
	background: #ffffff;
}

.mapadiv{
	width: 100%;
	height: 100%;
	margin: left;
}

.mapadiv path{
	fill: #697a94;
	stroke: #000;
	stroke-width: 2px;
}

.mamadiv .division{
	fill: #66698a;
	stroke: #000;
	stroke-width: 2px;
}

.mapadiv :hover{
	fill: #CFD2D5;
}

.mapadiv .vancouver :hover{
	fill: #9b9b94;
}

.mapadiv .mexico :hover{
	fill: #9b9b94;
}

