{% extends "base.html.twig" %}
{% block title %}{% trans %} General Instruments {% endtrans %} | {% endblock %}
{% block content %}
    			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm m-0" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold text-8 mb-0">{% trans %}General Instruments{% endtrans %}</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="index" class="text-decoration-none">{% trans %}Home{% endtrans %}</a></li>
                                    <li><a href="products" class="text-decoration-none">{% trans %}Products{% endtrans %}</a></li>
									<li class="active">{% trans %}Instruments{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-with-shape-divider border-0 m-0">
					<div class="container pb-1 mt-4 mb-5">
						<div class="row justify-content-center pb-3 mb-5">
							<div class="col-lg-9 col-xl-8 text-center">
								
								<div class="overflow-hidden mb-3">
									<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" 
									data-appear-animation-delay="400">{% trans %}Instruments{% endtrans %}</h3>
								</div>
							</div>
						</div>
						<div class="row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Decribe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Decribe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-6 col-lg-4 mb-4">
								<article>
									<div class="card border-0 border-radius-0 box-shadow-1">
										<div class="card-body p-4 z-index-1">
											<a href="#">
												<img class="card-img-top border-radius-0 mb-4" src="#" alt="Product Name">
											</a>
											<div class="card-body p-0">
												<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none">{% trans %}Product Name{% endtrans %}</a></h4>
												<p class="card-text mb-0">{% trans %}Product Decribe{% endtrans %}</p>
												
											</div>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</section>

				{% block cotizar %}
				{% endblock %}

			</div> 
			<br><br><br><br><br>
{% endblock %}